@tailwind base;
@tailwind components;
@tailwind utilities;

/* globals.css or custom CSS file */

/* Inter Font */
@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-Regular.woff2') format('woff2'),
       url('/fonts/Inter-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* Akkurat Font */
@font-face {
  font-family: 'Akkurat';
  src: url('/fonts/Akkurat-Regular.woff2') format('woff2'), 
       url('/fonts/Akkurat-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* Apply Akkurat Font to card text */
.card-text {
  font-family: 'Akkurat', sans-serif;
}

/* You can also add some base styling to apply Inter globally */
body {
  font-family: 'Inter', sans-serif;
}
